<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>303053652609-f8drqocio9g7mqsr728955q87gfca0se.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.303053652609-f8drqocio9g7mqsr728955q87gfca0se</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>303053652609-4dkhhbt03lrm8doqeid40u4q88n42e2j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD8pPyPse8pI7qcxGaKWLQd2cMUhku07sg</string>
	<key>GCM_SENDER_ID</key>
	<string>303053652609</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.give</string>
	<key>PROJECT_ID</key>
	<string>give-structure</string>
	<key>STORAGE_BUCKET</key>
	<string>give-structure.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:303053652609:ios:b049866ca42dbcdfd30380</string>
	<key>DATABASE_URL</key>
	<string>https://give-structure.firebaseio.com</string>
</dict>
</plist>